@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellow-color: 44 65% 56%;
  --yellow-100:  42 71% 97%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 349 61% 34%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Inter';
  }

  body {
    font-family: 'Inter';
    @apply bg-background text-foreground;
  }

  .container {
    @apply max-w-screen-2xl mx-auto px-4 py-10;
  }

  .max-margin {
    @apply px-10 xl:px-10 max-2xl:px-4;
  }

  .text-gray {
    @apply text-[#575757]
  }

  .heading-1 {
    @apply font-bold text-xl md:text-3xl xl:text-5xl text-[#1D0104] lg:leading-[39.6px] xl:leading-[52.8px];
  }
  .heading-2 {
    @apply font-bold text-lg md:text-2xl xl:text-4xl text-[#1D0104] lg:leading-[30px] xl:leading-[39.6px];
  }
  .heading-3 {
    @apply font-bold text-base md:text-xl xl:text-3xl text-[#1D0104] lg:leading-[28.8px] xl:leading-[30px];
  }
  .heading-4 {
    @apply font-bold text-sm md:text-lg xl:text-2xl text-[#1D0104] lg:leading-[26px] xl:leading-[28.8px];
  }
  .heading-5 {
    @apply font-bold text-xs md:text-base xl:text-[22px] text-[#1D0104] lg:leading-[26px] xl:leading-[28.6px];
  }

  .body-1 {
    @apply md:text-base xl:text-lg lg:leading-[28px];
  }
  .body-2 {
    @apply text-base lg:leading-[25px];
  }
  .body-3 {
    @apply md:text-xs xl:text-sm leading-[19.6px];
  }
  .legend {
    @apply text-[10px] md:text-xs;
  }
  .vertical-margin {
    @apply py-6 md:py-20 xl:py-24;
  }
}
.h-scroll {
  @apply [&::-webkit-scrollbar]:h-2
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
}
